<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>qrgen</title>

    <style>
        #container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="container">
        <form action="/qr" method="POST">
            <h1>qrgen</h1>
            <hr>

            <h3>Generate QR</h3>
            <input type="text" name="source" id="source" placeholder="Content">
            <br><br>

            <button type="submit">Go</button>
            <br><br>
            <hr>
        </form>
    </div>
</body>

</html>